.orders {
	border: thin solid black;
}

.ordersHeader {
	text-align: center;
	font-style: italic;
	color: Snow;
	background: Teal;
}

.oddColumn {
	height: 25px;
	text-align: center;
	background: MediumTurquoise;
}

.evenColumn {
	text-align: center;
	background: PowderBlue;
}

.oddRow {
	height: 25px;
	text-align: center;
	background: MediumTurquoise;
}

.evenRow {
	height: 25px;
	text-align: center;
	background: PowderBlue;
}